@import './tailwind.css';
@import './fonts.css';
@import './variables.css';

html, body {
  color: var(--darkGrey);
  scroll-behavior: smooth;
  @apply font-bold;
}
*:focus {
  outline: 0 !important;
  box-shadow: none !important;
}

*:focus:not(:focus-visible) {
  outline: 0 !important;
  box-shadow: none !important;
}
a {
  transition: all 0.3s var(--curve);
}
.fade-enter-from {
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: all 0.2s var(--curve);
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
.page-enter-from {
  opacity: 0;
  transform: translateY(10px);
  filter: blur(1rem);
}
.page-enter-active,
.page-leave-active {
  transition: all 0.3s var(--curve);
}
.page-enter,
.page-leave-to {
  opacity: 0;
	transform: translateY(5px);
  filter: blur(1rem);
}

.list-move,
.list-enter-active,
.list-leave-active {
  transition: all 0.25s var(--curve);
}
.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateY(30px);
}
.list-leave-active {
  position: absolute;
}
.heroicon-sw-2 path {
  stroke-width: 2 !important;
}
.heroicon-sw-1\.75 path {
  stroke-width: 1.75 !important;
}
.heroicon-sw-1\.5 path {
  stroke-width: 1.5 !important;
}
.heroicon-sw-1\.2 path {
  stroke-width: 1.2 !important;
}
.heroicon-sw-1 path {
  stroke-width: 1 !important;
}
